{% extends 'app.html' %}

{# Page Title #}
{% block title %}Qaitomo{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}


<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header.html' %}
<!--=====================================-->


<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout1.html' %}
<!--=====================================-->



<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout2.html' %}
<!--=====================================-->


<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout3.html' %}
<!--=====================================-->



<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout4.html' %}
<!--=====================================-->


<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout5.html' %}
<!--=====================================-->


<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout6.html' %}
<!--=====================================-->



<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout1.html' %}
<!--=====================================-->


<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout2.html' %}
<!--=====================================-->

<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout3.html' %}
<!--=====================================-->


<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout4.html' %}
<!--=====================================-->



<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout5.html' %}
<!--=====================================-->



<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout6.html' %}
<!--=====================================-->


<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout7.html' %}
<!--=====================================-->


<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout8.html' %}
<!--=====================================-->



<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout9.html' %}
<!--=====================================-->


<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout10.html' %}
<!--=====================================-->
    

{% endblock %}