{% extends 'app.html' %}

{# Page Title #}
{% block title %}Qaitomo{% endblock %}

{# Custom Code In Head #}
{% block header %}{% endblock %}

{# Custom Code In Footer #}
{% block footer %}{% endblock %}

{# Body Class Add #}
{% block attribute %}class="sticky-header"{% endblock %}

{% block content %}






<!--=        Header Area Start         =-->
<!--=====================================-->
{% include 'header/header-layout2.html' %}
<!--=====================================-->




<!--=        landing Area Start         =-->
<!--=====================================-->
{% include 'landing/landing-1.html' %}
<!--=====================================-->






<!--=        Footer Area Start         =-->
<!--=====================================-->
{% include 'footer/footer-layout6.html' %}
<!--=====================================-->


    

{% endblock %}