/*-------------------------
    Contact
-------------------------*/



 

.contact-info.contact-info-style-1 {
    
    
    .contact-address {
        display: flex;
        
        margin-bottom: 30px; 
        padding-right: 30px;
        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
        }
        .icon { 
           
            font-size: 50px;
            color: var(--color-primary);
            margin-top: 10px;
            .image-icon{
                display: block;
                width: 24px;
            }
            .image-icon_light{
                display: none;
                width: 24px;
            }
            
             
        }
        .content {
            flex: 1;
            margin-left: 15px;
            @media only screen and (max-width: 575px) {
                margin-left: 15px;   
            }
            .title {
                margin-bottom: 5px;
            }
            .subtitle {
                font-size: 20px;
                  
                  color: var(--color-secondary);
            }
        }
    }
}

.contact-info.contact-info-style-2 {
    
     @media only screen and (max-width: 991px) {
                padding-top: 40px;
             }
    .section-heading {
        .title {
            font-size: 40px;
            @media only screen and (max-width: 991px) {
                font-size: 36px;   
            }
            @media only screen and (max-width: 767px) {
                font-size: 32px;   
            }
            @media only screen and (max-width: 575px) {
                font-size: 28px;   
            }
        }
    }
    .contact-address {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 30px;
        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
        }
        .icon { 
           
            font-size: 50px;
            color: var(--color-primary);
            .image-icon{
                display: block;
            }
            .image-icon_light{
                display: none;
            }
            
             
        }
        .content {
            flex: 1;
            margin-left: 30px;
            @media only screen and (max-width: 575px) {
                margin-left: 20px;   
            }
            .title {
                margin-bottom: 5px;
            }
            .subtitle {
                font-size: 20px;
                  font-family: var(--font-primary);
                  color: var(--color-primary);
            }
        }
    }
}

.contact-form {
    
    
    .form-group {
        .form-control {
            
            &:focus {
                box-shadow: none;
            }
        }
        .submit-btn:hover {
            background: transparent;
        }
        .submit-btn {
            margin-top: 15px;
            border: none;
        }
    }
}

.google-map-area {
    margin-top: 0;
    .google-map {
        height: 500px;
    }
}



.form-style-2 {
    
    /* .form-group {
        .form-control {
            background-color: transparent;
            border-bottom: 1px solid var(--color-primary);
            color: var(--color-primary);
            box-shadow: none;
            @include placeholder-color(var(--color-plh), normal); 
              font-family: var(--font-primary);
        }
        input {
            height: 60px;
            padding-bottom: 0;
        }
    } */

    /* Form Group  */

    .form-group {
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        @media #{$sm-layout} {
            margin-bottom: 20px;
        }
        label {
            position: absolute;
            left: 0;
            width: 100%;
            top: 9px;
            color: #757589;
            transition: 0.3s;
            z-index: -1;
            letter-spacing: 0.5px;
            font-size: 18px;
            line-height: 28px;
        }
        
        input {
            border: 0;
            border-bottom: 2px solid #C7C7D5;
            background-color: transparent;
            padding-bottom: 8px;
            padding-top: 8px;
            padding-left: 0;
        }
        input[type="submit"] {
            border: 2px solid #000248;
            background: #ffffff;
            color: #000248;
            font-size: 16px;
            font-weight: 700;
            height: 46px;
            line-height: 44px;
            padding: 0;
            text-transform: capitalize;
            
            &:hover {
                background: #000248;
                color: #ffffff;
            }
        }
        textarea {
            border: 0;
            min-height: 165px;
            padding-bottom: 8px;
            padding-top: 8px;
            border-bottom: 2px solid #C7C7D5;
            background-color: transparent;
            resize: none;
        }
        span {
            &.focus-border {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: var(--color-primary);
                transition: 0.4s;
            }
        }
        &.focused {
            label {
                top: -10px;
                font-size: 12px;
                color: var(--color-primary);
                transition: 0.3s;
            }
            span {
                &.focus-border {
                    width: 100%;
                    transition: 0.4s;
                }
            }
        }
    }
}