/*-------------------------
    Footer Styles
-------------------------*/

.footer{
    padding: 50px 0 0 0;
    background-color: var(--color-title);
    .footer-menu{
        h2{
            font-size: 36px;
            font-weight: 700;
            color: var(--color-white);
            p{
                font-size: 18px;
                font-weight: 400;
                color: #a0a0a0;
            }
        }
    }
}

.footer-menu{
    h5{
        font-weight: 600;
        font-size: 16px;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);
        display: inline-block;
    }
     ul{
        font-size: 18px;
        font-weight: 400;
        color: #a0a0a0;
        padding: 0;
        a{
            transition: 1s;

        &:hover{
                color: var(--color-white);
            }
        }
    }
}

.footer-list{
    h5{
        font-weight: 600;
        font-size: 16px;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);
        display: inline-block;
    }
    ul{
        font-size: 18px;
        font-weight: 400;
        color: #a0a0a0; 
        display: flex;
        flex-wrap: wrap;
        margin: 0 -34px;
        padding: 0 0 0 29px;
    li{
        margin: 5px 0 0 5px;
        a{
            transition: 1s;

            &:hover{
                color: var(--color-white);
            }
        }
     }
    }
}

.footer-middle{
    background-color: var(--color-title);
    .footer-working-hour{
        h3{
            font-size: 18px;
            font-weight: 700;
            color: var(--color-white);
        }
        span{
            font-size: 14px;
            font-weight: 600;
            color: var(--color-secondary);
        }
    }
}

.download-option-right{
    display: flex;
    justify-content: end;

    .footer-apps{
        h3{
            font-size: 18px;
            font-weight: 700;
            color: var(--color-white);
        }
        span{
            font-size: 14px;
            font-weight: 600;
            color: var(--color-action);
        }
    }
    .footer-contact-right{

        ul{
            display: flex;
            li{
                margin: 12px -10px 0 30px;
            }
        }
    }
}

.foter-end{
    background-color: #0c0c0c;

    .Copyright-part{
        h5{
         color: #c1c1c1;
         font-size: 16px;
         font-weight: 400;
         margin: 30px 0 30px 0;
        }
    }   
}

.payment-icon{
    ul{
        display: flex;
        justify-content: end;
        padding: 30px 0 0 0;
        
        li{
            margin: -6px 15px 0 0;
        }
    }
}