/*-------------------------
    Banner
-------------------------*/
/*-------------------------
    Banner
-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


.hero-banner-area{
    background-color: var(--banner-bg);
    position: relative;
    .banner-title{
        span{
            font-size: 20px;
            font-weight: 400;
            color: var(--color-primary);
            font-family: var(--font-extra);
        }
        h1{
            font-size: 60px;
            font-weight: 700;
            color: var(--color-title);
            font-family: var(--font-primary);
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color: var(--color-secondary);
            font-family: var(--font-primary);
        }
    }
    .shop-btn{
        padding: 10px 25px;
        background-color: var(--color-white);
        color: var(--color-title);
        border-radius: 5px;
        display: inline-flex;
        transition: 0.4s ease;
        a{

            span{
                font-size: 14px;
                font-weight: 600;
                color: var(--color-title);
                font-family: var(--font-primary);
            }
            i{
                font-size: 14px;
                font-weight: 600;
                color: var(--color-title);
                position: relative;
                top: 3px;
                margin-left: 3px;
            }
        }
        &:hover{
            background: var(--color-primary);

            span{
                color: var(--color-white);
            }
            i{
                color: var(--color-white);
            }
        }
    }
    .banner-img{
        padding: 60px 75px 0 0;
    }
    .banner-sub{
        position: absolute;
        top: 60%;
        left: 74%;
    }
}

