/*-------------------------
    Header Styles
-------------------------*/

.container{
  width: 1440px;
}

ul, li{
  list-style: none;
}


.main-header{
  margin-bottom: 10px;

  .topbar-area{
    background-color: #f3eee7;

    .topbar-text{
      display: flex;
      margin: 0;
      p{
        margin: 0;
        font-size: 16px;
        font-weight: 600;
        color: #040404;
      }
      .btn-part{
          padding: 0 0 0 10px;
        span{
          font-size: 16px;
          font-weight: 500;
          color: var(--color-primary);
          }
        a{
          i{
           font-size: 16px;
           font-weight: 600;
           color: #d51243;
           margin-left: 4px;
           line-height: 16px;
          }
          }
        }
      }
        .topbar-sl-share{
            font-size: 14px;
            font-weight: 700;
            margin: 10px 0 10px 0;

            a{
              color: var(--color-title);
            }
     }
  }
}

.menu-area{

  .search-wrap {
    margin-top: 10px;

  [type=search]{
    color: #a5a5a6;
    font-size: 14px;
    font-weight: 400;
    background-color: #f3f4f7;
    padding: 12px 17px 12px 20px;
    border-radius: 6px;

  }
}
  .header-menu{
    ul{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 16px;
      font-weight: 600;
      margin: 0;
      li{
        margin-right: 15px;
      }
      a{
        color: var(--color-title);
        &:hover{
          color: var(--color-primary);
          border-bottom: 1px solid var(--color-primary);
          transition: 1s;
        }
      }
    }
  }
  .logo{
    a{
      border: none !important;
    }
  }

  .price-list{
    a{
      font-size: 14px;
      font-weight: 700;
      color: var(--color-title);
      border: 1px solid var(--color-secondary);
      border-radius: 6px;
      padding: 5px 20px 5px 20px;
    }
  }

}
